:root {
	color-scheme: light dark;

	--color--theme: #003f8e;
	--color--key-fg: var(--color--theme);
	--color--key-bg: light-dark(hsl(from var(--color--key-fg) h calc(s - 66) l), hsl(from var(--color--key-fg) h calc(s - 80) l));
	--color--bg: light-dark(hsl(from var(--color--key-bg) h s calc(l + 70)), hsl(from var(--color--key-bg) h s calc(l - 8)));
	--color--fg: light-dark(#696969, #dadada);
	--color--link: hsl(from var(--color--key-fg) h s calc(l + 44));
	--color--accent: hsl(from var(--color--key-fg) h calc(s - 30) calc(l + 30));
	--color--on-accent: rgb(255, 255, 255);
	--color--button-bg: light-dark(hsl(from var(--color--bg) h s calc(l - 8)), hsl(from var(--color--bg) h s calc(l + 8)));
	--color--badge-fg: rgb(49, 177, 206);
	--color--badge-bg: light-dark(hsl(from var(--color--badge-fg) h 76 90), hsl(from var(--color--badge-fg) h 24 24));
	--color--success-fg: rgb(134, 179, 0);
	--color--success-bg: light-dark(hsl(from var(--color--success-fg) h 76 90), hsl(from var(--color--success-fg) h 24 24));
	--color--warn-fg: rgb(236, 182, 55);
	--color--warn-bg: light-dark(hsl(from var(--color--warn-fg) h 76 90), hsl(from var(--color--warn-fg) h 24 24));
	--color--error-fg: rgb(236, 65, 55);
	--color--error-bg: light-dark(hsl(from var(--color--error-fg) h 76 90), hsl(from var(--color--error-fg) h 24 24));

	--font-family--default: 'Roboto', 'BIZ UDPGothic', sans-serif;
	--font-family--monospace: 'Inconsolata Nerd Font', 'Inconsolata', monospace;

	background: var(--color--bg);
	color: var(--color--fg);

	font: 16px/1.5 var(--font-family--default);
}

body {
	display: block;
	margin: 0;
}

p {
	line-height: 1.75;
}

:any-link {
	color: var(--color--link);
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

pre,
code {
	font-family: var(--font-family--monospace);
}

div[class*='language-'] {
	border-radius: 16px;
	/* 子要素の absolute 配置の基準とするため、 position: relative とする */
	position: relative;
	overflow: hidden;
}

div[class*='language-']>button.copy {
	height: 16px;
	border: none;
	position: absolute;
	top: 0;
	right: 16px;
	background: none;
	color: var(--color--fg);
	cursor: pointer;
}

div[class*='language-']>button.copy::after {
	content: 'Copy code';
}

div[class*='language-']>span.lang {
	position: absolute;
	top: 0;
	left: 16px;
	font: 600 12px/1.2 var(--font-family--default);
}


div[class*='language-']>span.lang::before {
	content: '» ';
}

pre.shiki {
	margin: 0;
	padding-block-start: 24px;
	padding-block-end: 16px;
	background: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
	color: light-dark(var(--shiki-light), var(--shiki-dark));
}

pre.shiki>code>.line {
	display: inline-block;
	width: 100%;
	padding-inline: 16px;
}

pre.shiki>code>.line.highlighted {
	background: hsl(from var(--color--fg) h s l / 10%);
}

pre.shiki>code>.line span {
	color: light-dark(var(--shiki-light), var(--shiki-dark));
}

.custom-block {
	display: block;
	margin-block: 1rem;
	border-radius: 8px;
	padding: 8px;
	background: light-dark(hsl(from var(--color--bg) h s calc(l - 4)), hsl(from var(--color--bg) h s calc(l + 4)));
}

.custom-block.tip {
	background: var(--color--badge-bg);
}

.custom-block.warning {
	background: var(--color--warn-bg);
}

.custom-block.danger {
	background: var(--color--error-bg);
}

.custom-block>.custom-block-title,
.custom-block>summary {
	margin: 0;
	font-weight: 600;
}
